@use '../../../../theme/mixins.scss' as *;
@use '../../../../theme/animations.scss' as *;

:host {
    --margin-vert: 10px;
    --margin-hor: 10px;
    --toast-tx: 0px;
    --toast-ty: 0px;
    --toast-leave-tx: 0;
    --toast-leave-ty: 0;

    position: absolute;
    top: calc(var(--titlebar-height) + var(--toast-top));
    bottom: var(--toast-bottom);
    left: var(--toast-left);
    right: var(--toast-right);
    transform: translate(var(--toast-tx), var(--toast-ty));
    background: var(--toast-background);
    color: var(--toast-color);
    border-radius: 5px;
    border: 1px solid color-mix(in srgb, var(--toast-color), #0000 80%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: all .2s ease;
    overflow: hidden;

    @starting-style {
        opacity: 0;
        transform: translate(var(--toast-leave-tx), var(--toast-leave-ty));
    }

    &.disappearing {
        animation: toastLeave .2s forwards;
    }

    &.ephemeral {
        .toast-duration-bar::before {
            animation: toastDurationBar var(--toast-duration) forwards linear;
        }
    }


    /* POSITIONS */

    &[data-toast-position="top-left"] {
        --toast-top: var(--margin-vert);
        --toast-left: var(--margin-hor);
        --toast-leave-tx: -10px;
    }

    &[data-toast-position="top-center"] {
        --toast-top: var(--margin-vert);
        --toast-left: 50%;
        --toast-tx: -50%;
        --toast-leave-tx: -50%;
        --toast-leave-ty: -100%;
    }

    &[data-toast-position="top-right"] {
        --toast-top: var(--margin-vert);
        --toast-right: var(--margin-hor);
        --toast-leave-tx: 10px;
    }

    &[data-toast-position="bottom-left"] {
        --toast-bottom: var(--margin-vert);
        --toast-left: var(--margin-hor);
        --toast-leave-tx: -10px;
    }

    &[data-toast-position="bottom-center"] {
        --toast-bottom: var(--margin-vert);
        --toast-left: 50%;
        --toast-tx: -50%;
        --toast-leave-tx: -50%;
        --toast-leave-ty: 100%;
    }

    &[data-toast-position="bottom-right"] {
        --toast-bottom: var(--margin-vert);
        --toast-right: var(--margin-hor);
        --toast-leave-tx: 20px;
    }



    /* COULEURS */

    &[data-toast-type="success"] {
        --toast-background: color-mix(in srgb, var(--success-color-shade), #fff 85%);
        --toast-color: var(--success-color-shade);
    }

    &[data-toast-type="warning"] {
        --toast-background: var(--warning-color-shade);
        --toast-color: var(--warning-color-contrast);
    }

    &[data-toast-type="error"] {
        --toast-background: color-mix(in srgb, var(--danger-color), #fff 90%);
        --toast-color: var(--danger-color);
    }

    &[data-toast-type="medium"] {
        --toast-background: var(--medium-color);
        --toast-color: var(--medium-color-contrast);
    }

    &[data-toast-type="dark"],
    &[data-toast-type="default"] {
        --toast-background: var(--dark-color-shade);
        --toast-color: var(--dark-color-contrast);
    }

    &[data-toast-type="light"] {
        --toast-background: var(--light-color-tint);
        --toast-color: var(--light-color-contrast);
    }

    &[data-toast-type="primary"] {
        --toast-background: var(--primary-color);
        --toast-color: var(--primary-color-contrast);
    }

    &[data-toast-type="secondary"] {
        --toast-background: var(--secondary-color-tint);
        --toast-color: var(--secondary-color-contrast);
    }

    .toast-content {
        padding: 6px 25px;
        font-size: var(--toast-font-size, .9em);
        user-select: none;
    }

    .toast-duration-bar {
        width: 100%;
        height: 4px;
        position: relative;

        &::before {
            content: '';
            height: 100%;
            width: 100%;
            background: color-mix(in srgb, var(--toast-color), #0000 80%);
            display: block;
        }
    }
}

@keyframes toastLeave {
    0% {
        opacity: 1;
        transform: translate(var(--toast-tx), var(--toast-ty));
    }

    100% {
        opacity: 0;
        transform: translate(var(--toast-leave-tx), var(--toast-leave-ty));
    }
}


@keyframes toastDurationBar {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}
