@use '../../../../theme/mixins.scss' as *;

.titlebar {
    @include flex($dir: row-reverse, $hor: flex-start, $ver: stretch);

    width: 100vw;
    height: var(--titlebar-height);
    isolation: isolate;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color .15s ease-in-out;
    user-select: none;

    &.draggable {
        -webkit-app-region: drag;
    }

    .app-name {
        @include absolute($left: 0, $tx: 0);
        @include flex;

        margin-left: 10px;
        font-size: .75em;
        font-weight: 700;
        color: rgb(127, 127, 127);
        height: 100%;
    }

    .actions {
        @include flex($hor: flex-end, $gap: 5px);

        padding-inline: 0.5rem;
        padding-block: 0.25rem;
    }

    .action {
        background: none;
        border: none;
        width: 20px;
        height: 20px;
        border-radius: 0;
        position: relative;
        cursor: pointer;
        z-index: 2;
        -webkit-app-region: no-drag;
        pointer-events: auto;
        color: #999;
        
        &:hover {
            color: #bbb;
        }

        &.close:hover {
            color: #f00;
        }
    }
}
