<ng-container *ngIf="globalState.connected(); else guestView">
    <article class="page-content">
        <p>Hello world</p>

        <button (click)="displayError()">Afficher popup erreur</button>
    </article>
</ng-container>

<ng-template #guestView>
    <div class="content">
        <div class="inner">
            <div class="left-side">
                <figure class="app-logo"></figure>
                <h1>Bienvenue sur {{ title }}</h1>
            </div>
        </div>
    </div>
</ng-template>
