<article id="home-container" class="page-content">
    <header>
        <h1>Dashboard</h1>
    </header>

    <div class="inner">
        <div>
            <section class="blocks-overview">
                <div class="block">
                    <h2>Total Sales</h2>
                    <p class="value">$2,450.00</p>
                </div>
                <div class="block">
                    <h2>Total Orders</h2>
                    <p class="value">215</p>
                </div>
            </section>

            <section class="charts">
                <div class="chart-container line">
                    <h2>Line Chart</h2>
                    <canvas id="lineChart" #lineChart></canvas>
                </div>
                <div class="chart-container donut">
                    <h2>Doughnut Chart</h2>
                    <canvas id="doughnutChart" #donutChart></canvas>
                </div>
            </section>
        </div>

        <section class="sidebar">
            <p class="second-screen-p" [class]="{ success: electron.hasSecondScreen() }">{{ secondScreenStateMessage() }}</p>

            <button (click)="openSecondScreen()" [disabled]="!electron.hasSecondScreen()">Open second screen</button>
            <button (click)="displayError()">Display error popup</button>
            <button (click)="printPDF()">Print PDF</button>
            <button (click)="sync(true)" [disabled]="isSyncing()">Synchronize (success)</button>
            <button (click)="sync(false)" [disabled]="isSyncing()">Synchronize (error)</button>
        </section>
    </div>
</article>
