<article>
    <h2>Authentication</h2>
    <form [formGroup]="form" novalidate (ngSubmit)="confirmRegistration()">
        <div>
            <label for="ipt-op-username">username</label>
            <input type="text" name="op-username" id="ipt-op-username" formControlName="username" #username/>
        </div>

        <div>
            <label for="ipt-op-password">password</label>
            <input type="password" name="op-password" id="ipt-op-password" formControlName="password"/>
        </div>

        <div class="actions">
            <button type="button" class="btn-cancel" (click)="cancelRegistration()">Cancel</button>
            <button type="submit" class="btn-confirm btn-primary">Confirm</button>
        </div>
    </form>
</article>
