button {
    background: var(--btn-bg, var(--light-color-shade));
    border: 1px solid transparent;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 5px;
    color: var(--btn-fg, var(--medium-color));
    font-size: 1em;
    font-weight: 500;
    min-width: 200px;
    cursor: pointer;
    transition-duration: .1s;
    user-select: none;
    position: relative;

    &:not(:disabled) {
        &:hover {
            border-color: rgba(255, 255, 255, 0.1);
            --btn-bg: var(--primary-color);
            --btn-fg: var(--primary-color-contrast);
        }

        &:active {
            --btn-bg: var(--primary-color-shade);
            --btn-fg: var(--primary-color-contrast);
            transform: scale(.96);
        }

        &.btn-cancel {
            --btn-bg: var(--light-color-shade);
            --btn-fg: var(--medium-color);

            &:hover {
                filter: brightness(.9);
                --btn-bg: var(--light-color-shade);
                --btn-fg: var(--medium-color);
            }
        }

        &.btn-primary {
            --btn-bg: var(--primary-color);
            --btn-fg: var(--primary-color-contrast);

            &:hover {
                --btn-bg: var(--primary-color-shade);
            }
        }

        &.btn-danger {
            --btn-bg: var(--danger-color-shade);
            --btn-fg: var(--danger-color-contrast);

            &:hover {
                --btn-bg: var(--danger-color-shade);
            }
        }

        &.btn-success {
            --btn-bg: var(--success-color);
            --btn-fg: var(--success-color-contrast);

            &:hover {
                --btn-bg: var(--success-color-shade);
            }
        }

        &.btn-warning {
            --btn-bg: var(--warning-color);
            --btn-fg: var(--warning-color-contrast);

            &:hover {
                --btn-bg: var(--warning-color-shade);
            }
        }

        &.clear {
            background: transparent;
            --btn-fg: var(--btn-bg);
        }
    }

    &.stroke {
        background: transparent;
        border-color: var(--btn-bg);
        color: var(--btn-bg);
        
        &:hover {
            color: var(--btn-fg);
            background: var(--btn-bg);
        }
    }

    &:disabled {
        cursor: default;
        opacity: .5;
    }
}
