@use '../../../../theme/mixins.scss' as *;

app-loading-screen {
    @include flex($dir: column);

    --loading-bg: var(--window-background-color);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    color: var(--loading-bg);
    background: var(--loading-bg);
    backdrop-filter: blur(10px);
    user-select: none;

    app-spinner {
        --spinner-size: 30px;
        margin: 50px 0;
    }

    .message {
        opacity: .8;
        color: #333;
    }
}
