<h1>Home Page</h1>
<p>Welcome Home, world</p>

<ui-button type="button" color="primary" (click)="onButtonClick('GET', 'user/me')">Send GET to /user/me</ui-button>
<ui-button type="button" color="primary" (click)="onButtonClick('GET', 'user/profile/123')">Send GET to /user/profile/:id</ui-button>
<ui-button type="button" color="secondary" (click)="onButtonClick('POST', 'user/profile')">Send POST to /user/profile</ui-button>
<ui-button type="button" color="tertiary" (click)="onButtonClick('PATCH', 'unknown/route')">Send PATCH to /unknown/route</ui-button>
<ui-button type="button" color="error" (click)="onButtonClick('DELETE', 'unknown/route')">Send DELETE to /unknown/route</ui-button>
