:host {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    transition-duration: .2s;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 10px;
        width: 2px;
        background: var(--primary-color);
        transform: translateY(-50%);
        transition: height .2s ease-out;
        height: 0;
    }


    &:hover {
        background: var(--light-color-tint-2);
    }

    &.selected {
        padding-left: 25px;

        &::before {
            height: 15px;

            @starting-style {
                height: 0;
            }
        }
    }

    &.hidden {
        display: none;
    }

    &.disabled {
        opacity: 0.3;
        pointer-events: none;
        cursor: default;
    }
}
