@use '../mixins.scss' as *;

input:not(:where([type="checkbox"], [type="radio"])) {
    min-width: 150px;
    padding: 6px 10px;
    border: 1px solid transparent;
    border-bottom-color: rgba(127, 127, 127, 0.2);
    background: var(--light-color-shade);
    color: var(--text-color);
    border-radius: 3px 3px 0 0;
    transition: border-color 0.3s ease;
    font-size: 1em;
    height: 32px;
    cursor: default;

    &:not(:disabled):not(:read-only) {
        cursor: initial;

        &:hover {
            border-color: rgba(127, 127, 127, 0.2);
            border-bottom-color: var(--primary-color-tint);
        }

        &:focus {
            border-bottom-color: var(--primary-color-shade);
        }
    }
}


label[for] {
    cursor: pointer;
    user-select: none;
}

input[type="radio"] {
    aspect-ratio: 1/1;
    height: 16px;
    position: relative;
    border: 1px solid var(--medium-color);

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.5);
        width: 50%;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background: linear-gradient(0deg, var(--primary-color), var(--primary-color-tint));
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    &:checked {
        border-color: var(--primary-color);

        &::after {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }
}

.radio-item {
    @include flex($disp: inline-flex);

    margin: 10px;
    gap: 10px;
}