@use '../../../../theme/mixins.scss' as *;

nav {
    @include flex($dir: column, $hor: stretch, $ver: space-between);

    width: 100%;
    height: 100%;
    // border-radius: 10px;
    user-select: none;
    margin: 0 auto;
    padding-top: 10px;
    background: var(--secondary-color);
}

.nav-date {
    margin: 8px auto 20px auto;

    span {
        font-weight: 700;
        font-size: 2em;
        color: var(--dark-color-contrast);
        display: block;
        letter-spacing: .15em;
        text-align: center;
        line-height: .9em;
    }
}

.items {
    @include flex($dir: column, $hor: stretch, $ver: space-between, $gap: 10px);

    flex: 1;

    ul {
        margin: 0;
        padding: 0 10px;
        list-style-type: none;
        color: var(--dark-color-contrast);

        li {
            display: block;
            opacity: .7;
            text-align: center;
            margin: 15px auto;
            transition-duration: .1s;
            position: relative;

            &.disabled {
                opacity: .3;
            }

            &.active {
                opacity: 1;

                figure {
                    border-radius: 11px;
                    background: var(--secondary-color-tint);
                }
            }

            &:not(.disabled) {
                cursor: pointer;

                &:hover {
                    opacity: 1;
                    color: var(--primary-color);
                }
            }

            span {
                font-size: .7em;
                font-weight: 300;
                // display: block;
                text-align: center;
                white-space: nowrap;
                display: none;
            }

            figure {
                transition-duration: .1s;
                width: 50px;
                aspect-ratio: 1/1;
                margin: 0 auto 5px auto;
                padding: 12px;
            }

            i {
                @include mask($image: var(--icon), $background: var(--secondary-color-contrast));

                display: block;
                width: 100%;
                aspect-ratio: 1/1;
            }
        }
    }
}
