<section>

    <h2>Informations de connexion au serveur</h2>

    <ul>
        <li>
            <span>Mode de connexion</span>
            <span>Business Central on-premise</span>
        </li>
        <li>
            <span>URL du service</span>
            <span>https://innov-dev.capvision-cloud.fr:7048/BC</span>
        </li>
        <li>
            <span>Société</span>
            <span>CRONUS FR</span>
        </li>
        <li>
            <span>Code caisse</span>
            <span>NF</span>
        </li>
        <li>
            <span>Nom caisse</span>
            <span>Caisse NF</span>
        </li>
    </ul>

    <button type="button" (click)="disconnectFromServer()">Se déconnecter du serveur</button>

</section>

<section>

    <h2>Configuration de la caisse</h2>

    <ul>
        <li>
            <span>Identifiant appareil</span>
            <span>123456789</span>
        </li>
        <li>
            <span>Liste de prix</span>
            <span></span>
        </li>
        <li>
            <span>Groupe de TVA</span>
            <span>NATIONAL</span>
        </li>
        <li>
            <span>Dernier n° de ticket</span>
            <span></span>
        </li>
    </ul>

</section>
