@use '../../../../theme/mixins.scss' as *;

.titlebar {
    @include flex($dir: row-reverse, $hor: flex-start, $ver: stretch);

    width: 100vw;
    height: var(--titlebar-height);
    isolation: isolate;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color .15s ease-in-out;
    user-select: none;

    &.draggable {
        -webkit-app-region: drag;
    }

    .app-name {
        @include absolute($left: 0, $tx: 0);
        @include flex;

        margin-left: 10px;
        font-size: .75em;
        font-weight: 700;
        color: rgb(127, 127, 127);
        height: 100%;
    }

    .actions {
        @include flex($hor: flex-end, $gap: 5px);

        padding-inline: 0.5rem;
        padding-block: 0.25rem;
    }

    .action {
        background: none;
        border: none;
        width: 20px;
        height: 20px;
        border-radius: 0;
        position: relative;
        cursor: pointer;
        z-index: 2;
        -webkit-app-region: no-drag;
        pointer-events: auto;
        color: #999;
        
        &:hover {
            color: #bbb;
        }

        &.close:hover {
            color: #f00;
        }
    }

    /* .action.reduce {
        &::after {
            @include absolute($top: 65%);

            content: '';
            width: 9px;
            height: 1px;
            background: #bbb;
        }

        &:hover::after {
            background: #888;
        }
    }

    .action.fullscreen {
        &::after {
            @include absolute;

            content: '';
            width: 9px;
            height: 9px;
            border-radius: 2px;
            border: 1px solid #bbb;
        }

        &:hover::after {
            border-color: #888;
        }
    }

    .action.close {
        &::after {
            @include absolute($otherTransforms: rotate(45deg));

            content: '';
            width: 12px;
            height: 1px;
            background: #aaa;
        }

        &::before {
            @include absolute($otherTransforms: rotate(-45deg));

            content: '';
            width: 12px;
            height: 1px;
            background: #aaa;
        }

        &:hover {

            &::after,
            &::before {
                background: #f00;
            }
        }
    } */
}
