<section>

    <h2>Mises à jour</h2>
    <p>Version du logiciel : 1.2501.19526.1</p>

    <p>Canal de mise à jour :</p>

    <app-select>
        <app-select-option value="stable">Stable</app-select-option>
        <app-select-option value="beta">Canarie</app-select-option>
    </app-select>

    <p>Notification de mise à jour disponible :</p>

    <app-select>
        <app-select-option value="always">Toujours</app-select-option>
        <app-select-option value="never">Jamais</app-select-option>
    </app-select>

    <button type="button">Rechercher des mises à jour</button>

</section>

<section>

    <h2>À propos d'Angular Electron</h2>

    <p>Numéro de série : 123e4567-e89b-12d3-a456-426614174000</p>
    <p>Numéro de certificat : #####</p>
    <p>Version du logiciel : 1.2501.19526.1</p>

    <a href="#">Aide en ligne</a><br/>
    <a href="#">Mentions légales</a><br/>
    <a href="#">Conditions générales d'utilisation</a><br/>

</section>