<section>

    <h2>Server connection informations</h2>

    <ul>
        <li>
            <span>Connection mode</span>
            <span>Toaster</span>
        </li>
        <li>
            <span>Service URL</span>
            <span>https://google.fr</span>
        </li>
        <li>
            <span>Society</span>
            <span>MY SOCIETY</span>
        </li>
        <li>
            <span>Cash Register Code</span>
            <span>NF</span>
        </li>
        <li>
            <span>Cash Register Name</span>
            <span>NF CR</span>
        </li>
    </ul>

    <button type="button" class="btn-danger stroke" (click)="disconnectFromServer()">Disconnect</button>

</section>
