<section>

    <h2>Synchronisation</h2>
    <button type="button">Synchroniser tout</button>

</section>

<section>

    <h2>Journaux de synchronisation</h2>
    <p>13/02/25 15:29:45 - Synchronisation effectuée.</p>
    <button type="button">Afficher le dernier journal</button>

</section>

<section>

    <h2>Déboguage</h2>

    <p class="paragraph">
        En activant le mode déboguage, l'application générera des journaux des données
        transitant entre l'application et Business Central.
        Ce mode peut potentiellement ralentir l'application et générer des fichiers très
        volumineux.
        Le mode sera actif jusqu'à désactivation ou fermerture de l'application.
    </p>
    
    <button type="button">Activer le mode déboguage</button>

</section>