<section>

    <h2>Synchronization</h2>
    <button type="button">Synchronize</button>

</section>

<section>

    <h2>Synchronization logs</h2>
    <p>13/02/25 15:29:45 - Synchronization done.</p>
    <button type="button">Display last log</button>

</section>

<section>

    <h2>Debugging</h2>

    <p class="paragraph">
        By enabling debug mode, the application will generate logs of the data
        transiting between the application and Business Central.
        This mode can potentially slow down the application and generate very large files.
        This mode will remain active until the application is deactivated or closed.
    </p>
    
    <button type="button">Activate debug mode</button>

</section>