<section>

    <h2>Updates</h2>
    <p class="app-version">software version : 1.2501.19526.1</p>

    <p class="select-label">Update channel :</p>

    <app-select>
        <app-select-option value="stable" default>Stable</app-select-option>
        <app-select-option value="beta">Beta</app-select-option>
    </app-select>

    <p class="select-label">Update notification :</p>

    <app-select>
        <app-select-option value="always" default>Always</app-select-option>
        <app-select-option value="never">Never</app-select-option>
    </app-select>

    <button type="button">Search for updates</button>

</section>

<section>

    <h2>About d'Angular Electron</h2>

    <p>S/N : 123e4567-e89b-12d3-a456-426614174000</p>
    <p>Certificate n° : #####</p>
    <p>Version : 1.2501.19526.1</p>

    <a href="#">Legal</a><br/>
    <a href="#">Terms</a><br/>

</section>