<article dropzone="copy" [class]="{ draggingOver: draggingOver() }" (drop)="onDrop($event)" #container>

    <div class="drag-visible-zone">
        <div class="inner"></div>
    </div>

    <header>
        <figure class="app-logo"></figure>
        <h1>Connect to a server</h1>
    </header>

    <div class="tutorial-content">
        <div class="tutorial-slider">
            <ol #slider>
                <li #step>
                    <div>
                        <p>You have to register to a server with a configuration file. <b>Json only is accepted.</b>.</p>
                        <p>💡 This step is totally fake. Just put <a [href]="helpLinkSaas" target="_blank">an "id" key</a> into the json to make it valid.</p>
                    </div>
                </li>
                <li #step>
                    <div>
                        <p>Vel facere labore, nisi deserunt in voluptatibus ex molestiae.</p>
                        <p>💡Lorem ipsum dolor sit amet consectetur adipisicing ? <a [href]="helpLinkDoc" target="_blank">Visit our documentation</a></p>
                    </div>
                </li>
                <li #step>
                    <div>
                        <p>Lorem ipsum dolor <b>sit amet consectetur</b> nisi deserunt in voluptatibus ex molestiae quibusdam.</p>
                    </div>
                </li>
                <li #step>
                    <div>
                        <p>Drag and drop a config file over this window or <span class="link-like" (click)="clickOnInput()">Click here to choose one</span></p>
                    </div>
                </li>
            </ol>

            <div class="tutorial-dots" *ngIf="viewLoaded()">
                <span class="dot" [class]="{ active: i === currentStep }" *ngFor="let step of steps(); let i = index"></span>
            </div>
        </div>
        <div class="tutorial-actions" *ngIf="viewLoaded()">
            <button type="button" id="btn-prev-step" [disabled]="currentStep === 0" (click)="previousStep()">Previous</button>
            <button type="button" id="btn-next-step" [disabled]="currentStep === steps().length - 1" (click)="nextStep()">Next</button>
        </div>
    </div>

    <input type="file" accept="application/json" name="config-file" id="ipt-config-file"
        (input)="onFileSelected($event)"
        #configInput/>

</article>
