<article>

    <div
        class="drop-zone"
        [class]="{ draggingOver: draggingOver() }"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave()"
        (drop)="onDrop($event)"></div>

    <div class="drag-visible-zone">
        <div class="inner"></div>
    </div>

    <header>
        <figure class="app-logo"></figure>
        <h1>Se connecter au serveur</h1>
    </header>

    <div class="tutorial-content">
        <div class="tutorial-slider">
            <ol #slider>
                <li #step>
                    <div>
                        <p>Rendez-vous dans Business Central et recherchez la page <b>Caisses</b>.</p>
                        <p>💡 Vous utilisez Business Central online ? <a [href]="helpLinkSaas" target="_blank">Cliquez ici</a></p>
                    </div>
                </li>
                <li #step>
                    <div>
                        <p>Ouvrez la fiche de la caisse que vous êtes en train d'installer.</p>
                        <p>💡Besoin d'aide pour configurer une nouvelle caisse ? <a [href]="helpLinkDoc" target="_blank">Consultez notre documentation</a></p>
                    </div>
                </li>
                <li #step>
                    <div>
                        <p>Choisissez l'action <b>Installer cette caisse</b> et laissez-vous guider dans les étapes de l'assistant.</p>
                    </div>
                </li>
                <li #step>
                    <div>
                        <p>Déposez ici le fichier de configuration obtenu ou <span class="link-like" (click)="clickOnInput()">Cliquez ici pour le choisir</span></p>
                    </div>
                </li>
            </ol>

            <div class="tutorial-dots" *ngIf="viewLoaded()">
                <span class="dot" [class]="{ active: i === currentStep }" *ngFor="let step of steps(); let i = index"></span>
            </div>
        </div>
        <div class="tutorial-actions" *ngIf="viewLoaded()">
            <button type="button" id="btn-prev-step" [disabled]="currentStep === 0" (click)="previousStep()">Précédent</button>
            <button type="button" id="btn-next-step" [disabled]="currentStep === steps().length - 1" (click)="nextStep()">Suivant</button>
        </div>
    </div>

    <input type="file" accept="application/json" name="config-file" id="ipt-config-file"
        (input)="onFileSelected($event)"
        #configInput/>

</article>
