@use '../theme/mixins.scss' as *;

app-titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--titlebar-height);
    z-index: 99999;
}

section {
    @include flex($hor: stretch, $ver: stretch);

    --border-radius: 10px;

    background: var(--background-color);
    transition: padding 0.3s ease-in-out, gap 0.3s ease-in-out;
    width: 100%;
    height: 100%;

    &.known {
    }

    &:not(.known) {
        main {
            background: var(--background-color-tint);
            padding-top: var(--titlebar-height);
        }
    }
}

main {
    // border-radius: var(--border-radius);
    background: var(--background-color);
    transition: border-radius 0.3s ease-in-out, background-color 0.2s ease;
    position: relative;
    margin: 0;
    padding: var(--titlebar-height) 10px 10px 10px;
    overflow: auto;
    height: 100%;
    flex: 1;
    isolation: isolate;
}
